/* St/* Style for navbar */
.navbar {
    background-color: #343a40;
    color: #ffffff;
    
  }
  
  /* Style for main container */
  .main {
    margin-top: 20px;
  }
  
  /* Style for task card */
  .card {
    border-radius: 10px;
  }
  
  /* Style for task view */
  .taskView {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Style for individual task card */
  .card {
    margin: 10px;
  }
  
  /* Style for task title */
  .card-title {
    font-weight: bold;
  }
  
  /* Style for task description */
  .card-text {
    color: #6c757d;
  }
  
  /* Style for footer */
  footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
  }
  

  
  
  