
body {
    background-color: #f8f9fa; /* Set background color */
  }
  
  .container-fluid {
    text-align: center; /* Center align content */
    padding-top: 50px; /* Add some padding from the top */
  }
  
  .taskForm {
    background-color: #fff; /* Set background color for task form */
    border-radius: 10px; /* Add border radius */
    padding: 20px; /* Add padding */
  }
  
  .taskView {
    margin-top: 50px; /* Add margin from the top */
  }
  
  .card {
    margin-bottom: 20px; /* Add margin between cards */
  }
  
  .complete,
  .incomplete {
    display: none; /* Initially hide complete and incomplete tasks */
  }
  